.urbanist-body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 2200;
  font-style: normal;
}

@font-face {
    font-family: "Retro60";
    src: local("Retro60"),
    url(fonts/Retro60Prime.ttf) format("truetype");
}

h1 {
    font-family: Retro60;
    font-size: 32pt;
}